
/* import color  */
:root {
  --dark-color: #181E1E;
  --red-color: #E63946;
  --pink-color: #FF5864 ; 
  --yellow-color: #FFCA28 ; 
}

/* set border box  */
*,
/* after and before elements */
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;

}

.wrapper { 
  max-width: 1024px;
  margin: 0 auto;
}

a { 
  text-decoration: none;
}